
@{
    ViewBag.Title = "Compress";
}

<h2>Compress</h2>

<p>
    @((string)ViewBag.CompressedString))
</p>

@using (Html.BeginForm("Decompress", "Home", FormMethod.Post))
{

    @Html.Hidden("str2", (string)ViewBag.CompressedString);
    <button type="submit" >decompress</button>
}
